In [1]:
import pandas as pd
import os

In [5]:
#Files to load
school_files_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [14]:
school_data= os.path.join("Resources", "schools_complete.csv")
student_data= os.path.join("Resources", "students_complete.csv")

school_data_df= pd.read_csv(school_data)
student_data_df= pd.read_csv(student_data)

In [15]:
student_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500